body {
    font-family: sans-serif;
}

.firstPage {
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    height: 60px;
    width: 620px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: relative;
}

.header .logo {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.header img {
    height: 25px;
}

.header .menu {
    display: flex;
    column-gap: 10px;
    font-size: 11px;
}

.header .menu:hover {
    cursor: pointer;
}

.header .menu i {
    font-size: 16px;
}

.header .menu > * {
   display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-radius: 3px;
    width: 106px;
    height: 40px;
    background: rgba(256,265,265,0.4);
}

.header .menu > *:last-child {
    width: 40px;
}

.container {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    height: 312px;
    width: 100%;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.timer-container .menu {
    display: flex;
    font-size: 14px;
}

.timer-container .menu li {
    padding: 11px 16px;
}
.timer-container .menu:hover {
    cursor: pointer;
}
.timer {
    font-size: 110px;
}

.timer-container .menu .chosen {
    font-weight: bold;
    background: rgba(0,0,0,0.2);
    border-radius: 3px;
}

.timer-container .button {
    background: #fff;
    width: 250px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.timer-container .button:hover {
    cursor: pointer;
}

.button-container {
    height: 70px;
    width: 250px;
    display: flex;
    align-items: end;
}

.timer-container .start-button {
    border-bottom: 8px solid rgba(0,0,0,0.2);
}

.settings-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    overflow: hidden scroll;
    color: black;
    pointer-events: auto;
    z-index: 2;
}


.settings {
    margin: 50px 0;
    width: 735px;
    height: 150vh;
    background: #fff;
    border-radius: 10px;
    padding: 0 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.settings .exit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;

}

.settings .exit:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 200%;
    background: rgba(0,0,0,0.2);
    left: -25px;
    bottom: 0;
}


.settings h2 {
    color: #6a6a6a;
    font-size: 14px;
    margin: 20px 0;
    font-weight: bold;
}

.settings .time-settings {
    display: flex;
    justify-content: space-between;
}

.settings .time-settings label {
    font-size: 14px;
    color: #bdbdbd;
    box-sizing: border-box;
    width: 180px;
    font-weight: bold;
}

.settings  input{
    width: 180px;
    height: 50px;
    background: #efefef;
    border: none;
    font-size: 18px;
    padding: 0 10px;
    color: #6f6f6f;
    border-radius: 3px;
    margin-top: 10px;
    box-sizing: border-box;
}

.settings input:focus {
    outline: none;
}
.settings h3 {
    color: #bcbcbc;
    font-size: 14px;
    font-weight: bold;
    margin: 36px 0;
}

.settings .exit img {
    height: 20px;
}

.settings .exit img:hover {
    cursor: pointer;
}

.settings .switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    color: #535353;
    font-size: 16px;
    font-weight: bold;
}

.settings .switch{
    height: 40px;
    width: 75px;
    background: #cccccc;
    border-radius: 20px;
    position: relative;
}

.settings .switch:before {
    content: "";
    height: 34px;
    width: 34px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}

.line {
    height: 1px;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

.settings .switch[chosen] {
    background: #9dd25c;
}

.settings .switch[chosen]:before{
    left: 36px;
}

.settings .switch:hover{
    cursor: pointer;
}


.settings .switch-container input {
    width: 125px;
}

.settings .theme-container  {
    display: flex;
    column-gap: 20px;
}

.firstPage .box {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}
.firstPage .box:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(256,256,256,0);
    position: absolute;
    top: 0;
    left: 0;
}
.firstPage .box:hover::before {
    background: rgba(256,256,256,0.3);
    cursor: pointer;
}

.pick-color-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(0,0,0,0.2);
    width: 100vw;
    height: 100vh;
}

.pick-color {
    background: #fff;
    width: 500px;
    height: 280px;
    color: #000;
    font-size: 14px;
    border-radius: 10px;
}

.pick-color .head {
    height: 65px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick-color .boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    row-gap: 12px;

}

.pick-color .box {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    margin: 0 5px;
}

.number-of-intervals {
    color: rgba(256,256,256,0.5);
    font-size: 15px;
    margin-top: 30px;
}

.number-of-intervals:hover {
    cursor: pointer;
}

.loadingBar {
    background: #fff;
    height: 4px;
    position: absolute;
    bottom: -2px;
    border-radius: 2px;
}

.timeFor {
    margin-top: 15px;
    font-size: 20px;
}

.secondPage {
    height: 200vh;
}

.firstPage .collapse {
    display: none;
}

.red {
    background: #bb4949;
}

.red .button {
    color: #bb4949;
}

.green {
    background: #38868a;
}

.blue {
    background: #397097;
}
.green .button{
    color: #38868a;
}

.blue .button{
    color: #397097;
}

.gold {
    background: #a4893c;
}
.gold .button{
    color: #a4893c;
}
.purple {
    background: #7e53a2;
}
.purple .button{
    color: #7e53a2;
}
.light-purple {
    background: #af4e91;
}
.light-purple .button{
    color: #af4e91;
}
.dark-green {
    background: #518958;
}
.dark-green .button{
    color: #518958;
}
.gray {
    background: #545864;
}
.gray .button{
    color: #545864;
}